<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="ConnectionString" value="server=aciliit02.no-ip.org, 1433; database=MISO_Platform_32323232; user=ezyshare; password=123456; connection timeout=0; Max Pool Size = 20000; Pooling = True"/>
  </appSettings>
    <connectionStrings>
      <add name="ConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB, 1433;Initial Catalog=MISO_Platform_32323232;User ID=ezyshare;Password=123456;Max Pool Size=20000;Connect Timeout=0；" />
    </connectionStrings>
   
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>



</configuration>