<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=(localdb)\MSSQLLocalDB; database=MISO_PLatform_32323232; Max Pool Size = 20000; Pooling = True"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MISO_PLatform_32323232;Max Pool Size=20000; Connect Timeout=60;"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="20480"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>
